<!doctype html>
<html>
  <head>
    <title>伝言板</title>
  </head>

  <body>

{% from "_formhelpers.html" import render_field %}

<h1>これまでのメッセージ</h1>
  <hr>
  {% for message in messages %}
    <div>{{ message.timestamp }} に {{ message.name }} さんが投稿しました。</div>
    </p>
    <div>{{ message.message | add_br }}</div>
    {% if message.filename %}
      <img src="{{ storage_path }}/{{ message.filename }}" style="max-width: 30%">
    {% endif %}
  <hr>
  {% endfor %}

<h1>新しいメッセージをどうぞ！</h1>
<form method=post action={{ url_for('post') }} enctype="multipart/form-data">
  {{ render_field(form.input_name) }}
  {{ render_field(form.input_message, rows=10, cols=50) }}
  {{ render_field(form.input_photo) }}
  <input type=submit value='投稿' name='submit' style="font-size: 2.0em">
</form>

  </body>
</html>
